# Core dependencies
fastapi
uvicorn
requests
beautifulsoup4
lxml
shapely
pyshp
pyproj
plotly
pydantic
aiohttp
python-dotenv

# Weather station functionality dependencies  
pandas
geopandas
geopy
numpy

# Geospatial
rasterio

# For notebooks and visualization
jupyter
matplotlib
seaborn

# For testing
pytest
pytest-cov
Pillow